{% extends "base.html" %}
{% block navlinks %}
<li class="active"><a href="/">Process list</a></li>
<li><a href="/configuration">Configuration Info</a></li>
{% endblock %}
{% block body %}
<style>
    #interval { width:45px; height:28px; text-align:center; }
    #kill_pid { height:28px; }
    #process_list { table-layout: fixed; }
    #process_list th, #process_list td { overflow: hidden; }
</style>
<h1>Process List</h1>
<div id="process" class="well">
<form class="form-inline">
  <div class="control-group">
    <label for="interval">Set update interval in seconds</label>
    <input id="interval" type="number" value="0" step="1" />
    <a id="stop_button" class="btn btn-inverse" title="Stop"><i class="icon-stop icon-white"></i> Stop</a>
    <a id="kill_button" class="btn btn-danger" title="Kill Process"><i class="icon-exclamation-sign icon-white"></i> Kill Process</a>
    <div id="kill_input" class="input-append" style="display:none">
        <input id="kill_pid" class="input-small" type="text"><a title="Kill" id="kill_now" class="add-on btn btn-danger"><i class="icon-exclamation-sign icon-white"></i></a>
    </div>
  </div>
</form>
<table id="process_list" class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th style="width:5%">ID</th>
      <th style="width:10%">User</th>
      <th style="width:12%">Host</th>
      <th style="width:13%">Database</th>
      <th style="width:5%">State</th>
      <th style="width:10%">Command</th>
      <th style="width:5%">Time</th>
      <th style="width:40%">Info</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}
{% block js_extra %}
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.timer.js"></script>
<script src="/static/js/myinfo.js"></script>
{% endblock %}
  </body>
</html>
